* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#simulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#simulation h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 1000px;
    background: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 100%);
    padding: 8px;
    border-radius: 10px;
}

#simulation #canvas {
    border-radius: 5px;
    /*box-shadow: 0px 0px 30px 5px #A5CCFF;*/
    box-shadow: 0px 0px 70px 5px #1a1a1a;
    background-color: black;
}